
  #movie-list {
    list-style-type: none;
    padding: 0;
}

#movie-list li {
    margin-bottom: 15px;
    cursor: pointer;
}

#movie-details {
    border-left: 2px solid #ccc;
    padding-left: 20px;
}

#buy-ticket-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#buy-ticket-btn:hover {
    background-color: #218838;
}

main {
  flex-grow: 1; 
  padding: 2rem;
  background-color: darkslategray;
  color: whitesmoke
}
body {
 
  background-color: rgb(198, 195, 216);
  
}
