
  #container{
    display: flex;
    justify-content: space-between;
  }
  
  #movie-list {
    list-style-type: none;
    padding: 0; 

    
}

#movie-list li {
    margin-left: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    border: #0f0909;
    
}

#movie-details {
    flex: 1; 
    display: none; 
    border: 1px solid #0f0909; 
    padding: 10px;;
    border-left: 2px solid #ccc;
    padding-left: 300px;
}

#buy-ticket-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#buy-ticket-btn:hover {
    background-color: #218838;
}

main {
  position: sticky; /* Make the main section sticky */
  top: 0; /* Set the sticky position from the top */
  flex-grow: 1;
  padding: 1px;
  background-color: darkslategray;
  color: whitesmoke;
  z-index: 1; /* Make sure it stays on top of other content */
  height: auto;
}
body {
 
  background-color: rgb(198, 195, 216);
  
}
#intro{
  font-size: 25px;
  text-align: center;
  
}
#movieList{
  flex: 1;
  margin-right: 20px;
  
}